<div class="jumbotron">
    <h1>Todos</h1>
    <p class="lead">Register your tasks.</p>
</div>

<div ng-controller="TaskController" class="row">

    <h2>Todos List</h2>

    <ul>
        <li ng-repeat="task in Tasks">{{task.Description}}</li>
    </ul>
    <form class="form-inline" role="form">
        <input type="text" class="form-control" placeholder="Task Description" ng-model="NewTask.Description" />
        <button ng-click="Events.CreateTask()" type="button" class="btn btn-primary">Create Task</button>
    </form>
</div>


