<div class="jumbotron">
    <h1>Todos</h1>
    <p class="lead">Register your tasks.</p>
</div>

<div class="row">
  
    TODO: FINISH THE CLIEN SIDE :P


    <h2>Todos List</h2>

    <ul>
        <li></li>
    </ul>


    <input type="text" />
    <button type="button" class="btn btn-primary">Add</button>
</div>
